.playlist {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: black; 
  padding: 10px;
  gap: 10px;
}

.playlist__user {
  background-color: #121212;
  border-radius: 8px;
}

.playlist__user--components{
  display: flex;
  justify-content: space-between;
  padding: 8px 20px 8px 20px;
}

.style__button {
  display: flex;
  gap: 10px
}

.style__button--int button {
  display: flex;
  padding: 5px 14px;
  border-radius: 50px;
  background-color: #1f1f1f;
  border: transparent;
  gap: 5px;

}

.style__button--int button img{
  width: 20px;
  height: 20px;
}

.style__button--int img {
  width: 20px;
  height: 20px;
 
}

.bnt__icon--center{
  display: flex;
  align-items: center;
  gap:10px
}

.btn-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: violet;
  padding: 12px 15px;
  border-radius: 5px;
  background: linear-gradient(135deg, #5b00ff, #c3ffe9);
  width: 60px;
  height: 60px;
}

.btn-bg img {
  width: 25px;
  height: auto;
}

.no__space--between{
  justify-content: flex-start;
}

.card__style{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding: 6px 10px;
}

.img__radius {
  border-radius: 50%;
  width: 60px;
}

/* Não alterar a imagem .img__radius quando o hover for no componente pai */
.playlist__user--components:hover img:not(.img__radius) {
    filter: brightness(0) invert(1);
}

/* Garantir que a imagem .img__radius nunca fique branca */
.img__radius {
    filter: none !important;
    background-color: black; /* ou a cor do card */
}